.evento .evento__div .evento__titulo .evento__h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: black;
  margin: 1rem;
  margin-left: 2rem;
}

.footer__div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #f48424;
  height: 200px;
  margin-top: 40px;
}

#footer {
  margin-top: 50px;
  width: 100%;
  background-color: rgb(244, 132, 36);
}
#footer .footer__index {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "h2 h2" "con iframe";
}
@media screen and (max-width: 576px) {
  #footer .footer__index {
    display: flex;
    flex-direction: column;
  }
}
#footer .footer__index .footer__h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-weight: bold;
  font-size: 3rem;
  color: white;
  margin: 1.3rem;
  margin-left: 2rem;
  grid-area: h2;
}
#footer .footer__index .footer__content {
  grid-area: con;
}
#footer .footer__index .footer__content .footer__ul {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: white;
  margin: 1rem;
  margin-left: 4rem;
  margin-bottom: 30px;
}
#footer .footer__index .footer__content .footer__p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: white;
  margin: 0.3rem;
  margin-left: 2rem;
}
@media screen and (max-width: 576px) {
  #footer .footer__index .footer__content .footer__logo {
    display: none;
  }
}
#footer .footer__index .footer__content .footer__logo img {
  height: 90px;
  margin-bottom: 30px;
  margin-left: 2rem;
  margin-top: 30px;
}
#footer .footer__index .footer__iframe {
  display: flex;
  justify-content: center;
}
#footer .footer__index .footer__iframe iframe {
  border-radius: 25px;
  margin-bottom: 40px;
}
@media screen and (max-width: 576px) {
  #footer .footer__index .footer__iframe iframe {
    margin-top: 50px;
    width: 300px;
    margin-bottom: 10px;
  }
}
#footer .footer__index .footer__logo--mobile {
  display: none;
}
@media screen and (max-width: 576px) {
  #footer .footer__index .footer__logo--mobile {
    display: flex;
    justify-content: center;
  }
}
#footer .footer__index .footer__logo--mobile img {
  height: 90px;
  margin-bottom: 30px;
  margin-left: 2rem;
  margin-top: 30px;
}
@media screen and (max-width: 576px) {
  #footer .footer__index .footer__logo--mobile img {
    height: 60px;
  }
}

.footer__img {
  margin-left: auto;
  margin-right: auto;
}

.footer__p--middle {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: white;
  margin: 0.3rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 50px;
  z-index: 2;
}
@media screen and (max-width: 576px) {
  header .header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
  }
}
header .header__nav .menu {
  display: flex;
  list-style: none;
  align-self: flex-end;
  margin-right: 10px;
  width: 100%;
  margin-bottom: 0px;
}
@media screen and (max-width: 576px) {
  header .header__nav .menu {
    margin-right: 10px;
    background-color: #f48424;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
  }
}
header .header__nav .menu .menu__item {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  text-decoration: none;
  padding: 5px;
  padding-left: 9px;
  padding-right: 9px;
  transition: 0.2s linear;
  color: #f48424;
}
@media screen and (max-width: 576px) {
  header .header__nav .menu .menu__item {
    display: block;
    padding: 20px;
    margin: 7px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    color: white;
    text-decoration: none;
    transition: 0.2s linear;
    border-radius: 25px;
  }
}
header .header__nav .menu .menu__item:hover {
  text-decoration: none;
  color: rgba(244, 132, 36, 0.7);
  transition: 0.2s linear;
}
@media screen and (max-width: 576px) {
  header .header__nav .menu .menu__item:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    text-decoration: none;
    transition: 0.2s linear;
  }
}
header .header__nav .menu .menu__item:active, header .header__nav .menu .menu__item:focus {
  box-shadow: none;
}
header .header__nav .menu .menu__item--registro {
  background-color: #f48424;
  color: white;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  padding: 5px;
  padding-left: 9px;
  padding-right: 9px;
  transition: 0.2s linear;
}
@media screen and (max-width: 576px) {
  header .header__nav .menu .menu__item--registro {
    display: block;
    padding: 20px;
    margin: 7px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    color: white;
    text-decoration: none;
    transition: 0.2s linear;
  }
}
header .header__nav .menu .menu__item--registro:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
@media screen and (max-width: 576px) {
  header .header__nav .menu .menu__item--registro:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transition: 0.2s linear;
  }
}
header .header__nav .menu .menu__item--registro:active, header .header__nav .menu .menu__item--registro:focus {
  box-shadow: none;
}
header .header__img {
  margin-left: 10px;
}
@media screen and (max-width: 576px) {
  header .header__img {
    display: inline-block;
    margin-left: 10px;
    margin-top: 6px;
  }
}
header .side-menu {
  display: none;
}

.menu__item:active, .menu__item:focus .menu__item--registro:active, .menu__item--registro:focus {
  box-shadow: none;
}

@media screen and (max-width: 576px) {
  .menu {
    list-style: none;
    margin-right: 10px;
    background-color: #f48424;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
  }
  .header__img {
    display: inline-block;
    margin-left: 10px;
    margin-top: 6px;
  }
  .menu__item {
    display: block;
    padding: 20px;
    margin: 7px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    color: white;
    text-decoration: none;
    transition: 0.2s linear;
    border-radius: 25px;
  }
  .menu__item:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    text-decoration: none;
    transition: 0.2s linear;
  }
  .menu__item--registro {
    display: block;
    padding: 20px;
    margin: 7px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    color: white;
    text-decoration: none;
    transition: 0.2s linear;
  }
  .menu__item--registro:hover {
    background-color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    transition: 0.2s linear;
  }
  .bars {
    cursor: pointer;
    float: right;
    padding: 20px 20px;
  }
  .bar-line {
    background: #f48424;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
  }
  .bar-line::before,
  .bar-line::after {
    background: #f48424;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .bar-line::before {
    top: 5px;
  }
  .bar-line::after {
    top: -5px;
  }
  .side-menu:checked ~ nav {
    max-height: 70%;
    transition: max-height 0.5s linear;
  }
  .side-menu:checked ~ .bars .bar-line {
    background: transparent;
  }
  .side-menu:checked ~ .bars .bar-line::before {
    transform: rotate(-45deg);
    top: 0;
  }
  .side-menu:checked ~ .bars .bar-line::after {
    transform: rotate(45deg);
    top: 0;
  }
}
.parallax_index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/index_parallax.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.parallax_beneficios {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/beneficios_parallax.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.parallax_cuotas {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/cuotas_parallax.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.parallax_publicaciones {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/publicaciones_parallax.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.parallax_eventos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/eventos_parallax.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.container_parallax {
  width: 100%;
  margin: auto;
  display: table;
  z-index: 0;
}
.container_parallax .container__h1 {
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  display: table-cell;
  vertical-align: middle;
  z-index: 1;
}

.main__h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-weight: bold;
  font-size: 3rem;
  color: black;
  margin: 1.3rem;
  margin-left: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.main__p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: black;
  margin: 1rem;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}
.main__p strong {
  font-weight: 500;
}

.main__ul, .pub {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: black;
  margin: 1rem;
  margin-left: 4rem;
  margin-bottom: 1.5rem;
}

.carousel-inner {
  padding: 1em;
}
.carousel-inner .position-index {
  z-index: -1;
}
.carousel-inner .card-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.carousel-inner .card-wrapper .card {
  margin: 0.5rem 0.5em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 25px;
}
@media screen and (max-width: 576px) {
  .carousel-inner .card-wrapper .card {
    width: 200px;
  }
}
.carousel-inner .card-wrapper .card .img_width {
  width: 400px;
  border-radius: 30px;
}
@media screen and (max-width: 576px) {
  .carousel-inner .card-wrapper .card .img_width {
    width: 200px;
  }
}

.card {
  margin: 0.5rem 0.5em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 25px;
}
@media screen and (max-width: 576px) {
  .card {
    width: 300px;
  }
}

.evento {
  margin-bottom: 20px;
}
@media screen and (max-width: 576px) {
  .evento {
    display: flex;
    justify-content: center;
  }
}
.evento .evento__div {
  background-color: rgb(71, 165, 174);
  width: 60%;
  margin-left: 20px;
  border-radius: 25px;
}
@media screen and (max-width: 576px) {
  .evento .evento__div {
    width: 95%;
    margin-left: 0px;
  }
}
.evento .evento__div .evento__titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f48424;
  border-radius: 25px;
}
.evento .evento__div .evento__titulo .evento__p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: black;
  margin: 1rem;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}
.evento .evento__div .evento__contenido {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media screen and (max-width: 576px) {
  .evento .evento__div .evento__contenido {
    flex-direction: column;
  }
}
.evento .evento__div .evento__contenido .evento__img {
  height: 500px;
  margin-bottom: 25px;
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 25px;
}
@media screen and (max-width: 576px) {
  .evento .evento__div .evento__contenido .evento__img {
    margin-left: 0;
    align-self: center;
  }
}
.evento .evento__div .evento__contenido .evento__ul {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: white;
  margin: 1rem;
  margin-left: 4rem;
  margin-bottom: 20px;
}
.evento .evento__div .evento__contenido .evento__ul .evento__ul--certificados {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: white;
  margin: 1rem;
  margin-left: 4rem;
  margin-bottom: 0px;
}
.evento .evento__div .evento__contenido .evento__ul .evento__item {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-decoration: none;
}
.evento .evento__div .evento__contenido .evento__ul .evento__item:hover {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.pub li {
  margin-top: 6px;
  margin-bottom: 6px;
}
.pub .pub__item {
  text-decoration: none;
  color: black;
}
.pub .pub__item:hover {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.main__p::selection, .main__h2::selection, .main__ul li::selection, .pub li::selection, strong::selection, .main__p--beneficios::selection, .main__ul li a::selection, .pub li a::selection, .main__h3::selection, .pub__item::selection, .main__p p::selection, .main__ul--inside li::selection {
  background-color: #94949b;
  color: white;
}

.footer__h2::selection, .footer__ul li::selection, .footer__p::selection, .footer__p--middle::selection, .evento__h3::selection, .evento__p::selection {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(244, 132, 36, 0.7);
}

.card img::selection, h1::selection, .main__iframe iframe::selection {
  background-color: rgba(148, 148, 155, 0.8);
}

.footer__logo img::selection, .footer__iframe iframe::selection, .evento__img::selection, .footer__img::selection {
  background-color: rgba(255, 255, 255, 0.7);
}

.evento__item::selection, .evento__ul li::selection {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(71, 165, 174, 0.7);
}

.main__p--beneficios {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: black;
  margin: 1rem;
  margin-left: 2rem;
  margin-top: 3rem;
}

.main__p--chica {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  margin-top: 1.5rem;
}

.main__ul--inside {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: black;
  margin: 1rem;
  margin-left: 6rem;
}

.main__iframe {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.main__iframe iframe {
  border-radius: 25px;
  border: 8px solid #94949b;
}

* {
  padding: 0;
  margin: 0;
}

html {
  /* para que un rem quede en 10 px */
  font-size: 62.5%;
}

/*# sourceMappingURL=style.css.map */
