.main__p--beneficios {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color:black;
    margin: 1rem;
    margin-left: 2rem;
    margin-top: 3rem; 
}

.main__p--chica {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: 1.5rem;
}