header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 50px;
    z-index: 2;

    .header__nav {
     
        @media screen and (max-width: 576px) {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 50px;
            background-color: white;
            overflow: hidden;
            max-height: 0;
            transition: max-height .5s ease-out; 
        }

        .menu {

            display: flex;
            list-style: none;
            align-self: flex-end;
            margin-right: 10px;
            width: 100%;
            margin-bottom: 0px;
            
            @media screen and (max-width: 576px) {
                margin-right: 10px;
                background-color: #f48424;
                flex-direction: column;
                height: 100%;
                overflow-y: scroll;
            } 
            
            .menu__item {

                font-family: 'Poppins', sans-serif;
                font-size: 1.7rem;
                font-weight: 600;
                text-decoration: none;
                padding: 5px;
                padding-left: 9px;
                padding-right: 9px;
                transition: 0.2s linear;
                color: $color-naranja ;

                @media screen and (max-width: 576px) {
                    display: block;
                    padding: 20px;
                    margin: 7px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    font-size: 1.7rem;
                    color: white;
                    text-decoration: none;
                    transition: 0.2s linear;
                    border-radius: 25px;
                }

                &:hover {

                    text-decoration: none;
                    color: rgba(244, 132, 36, 70%);
                    transition: 0.2s linear;

                    @media screen and (max-width: 576px) {
                        background-color: rgba(255, 255, 255, 0.4);
                        color: white;
                        text-decoration: none;
                        transition: 0.2s linear; 
                    }  
                }

                &:active, &:focus {
                    box-shadow: none;
                }
            }

            .menu__item--registro {
                background-color: $color-naranja;
                color: white;
                border-radius: 20px;
                font-family: 'Poppins', sans-serif;
                font-size: 1.6rem;
                font-weight: 600;
                text-decoration: none;
                padding: 5px;
                padding-left: 9px;
                padding-right: 9px;
                transition: 0.2s linear;

                @media screen and (max-width: 576px) {
                    display: block;
                    padding: 20px;
                    margin: 7px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    font-size: 1.7rem;
                    color: white;
                    text-decoration: none;
                    transition: 0.2s linear; 
                }

                &:hover {
                    
                    color: rgba(255, 255, 255, 0.8);
                    text-decoration: none;

                    @media screen and (max-width: 576px) {
                        background-color: rgba(255, 255, 255, 0.4);
                        transition: 0.2s linear;
                    }
                }

                &:active, &:focus {
                    box-shadow: none;
                }
            }
            
        }
    }

    .header__img {
        margin-left: 10px;
        @media screen and (max-width: 576px) {
            display: inline-block;
            margin-left: 10px;
            margin-top: 6px; 
        }
    }
    .side-menu {
        display: none;
    }

}

//

.menu__item:active, .menu__item:focus .menu__item--registro:active , .menu__item--registro:focus {
    box-shadow: none;
}


// side-menu 

@media screen and (max-width: 576px) {
    .menu {
        list-style: none;
        margin-right: 10px;
        background-color: #f48424;
        flex-direction: column;
        height: 100%;
        overflow-y: scroll;
    }
    
    .header__img {
        display: inline-block;
        margin-left: 10px;
        margin-top: 6px;
    }
    
    .menu__item{
        display: block;
        padding: 20px;
        margin: 7px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.7rem;
        color: white;
        text-decoration: none;
        transition: 0.2s linear;
        border-radius: 25px;
    }
    
    .menu__item:hover {
        background-color: rgba(255, 255, 255, 0.4);
        color: white;
        text-decoration: none;
        transition: 0.2s linear;
    }
    
    .menu__item--registro {
        display: block;
        padding: 20px;
        margin: 7px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.7rem;
        color: white;
        text-decoration: none;
        transition: 0.2s linear;
    }
    
    .menu__item--registro:hover {
        background-color: rgba(255, 255, 255, 0.4);
        text-decoration: none;
        transition: 0.2s linear;
    }
    
    .bars {
        cursor: pointer;
        float: right;
        padding: 20px 20px;
    }
    
    .bar-line {
        background: #f48424;
        display: block;
        height: 2px;
        position: relative;
        width: 24px;
    }
    
    .bar-line::before,
    .bar-line::after {
        background: #f48424;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    
    .bar-line::before{
        top: 5px;
    }
    .bar-line::after{
        top: -5px;
    }
    
    .side-menu:checked ~ nav{
        max-height: 70%;
        transition: max-height 0.5s linear;
    }
    
    .side-menu:checked ~ .bars .bar-line {
        background: transparent;
    }
    
    .side-menu:checked ~ .bars .bar-line::before {
        transform: rotate(-45deg);
        top:0;
    }
    .side-menu:checked ~ .bars .bar-line::after {
        transform: rotate(45deg);
        top:0;
    }
}



